@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --primary: 218, 97%, 55%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 0, 0%, 0%;
    --secondary-foreground: 0, 0%, 100%;
    --neutral: 220, 25%, 91%;
    --neutral-foreground: 0, 0%, 0%;
  }
}